.logo{
    background-color: aquamarine;
    padding: 10px;
}
.main{
    display: flex;
    margin: 10px;
}
.right{
    margin-left: 20px;
}
.header{
    padding: 90px 300px;
    width: 100%;
    background-color: aquamarine;
    margin-bottom: 10px;
}
.Body{
    padding: 100px 300px;
    background-color: aquamarine;
    width: 100%;
}
.footer{
    text-align: center;
    background-color: aquamarine;
}

