.ul1{
    display: none;
}
.li1:hover + .ul1{
    display: block;
}
.ul2{
    display: none;
}
.li2:hover + .ul2{
    display: block;
}
.ul3{
    display: none;
}
.li3:hover + .ul3{
    display: block;
}
